<footer class="section footer">
	<div class="container container-footer">
		<ul class="footer__menu menu">
			<li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Download</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Press</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Email</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Support</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Privacy Policy</a></li>
		</ul>
	</div>
</footer>