<header class="header">
	<div class="container container-header">
		<h1 class="header__logo">Notify<span class="dot">.</span></h1>
		<p class="header__info">A great new free psd theme to showcase your new application.</p>
		<div class="header__icons">
			<a href="#" class="header__icon"><img src="img/svg/apple.svg" alt="Apple"></a>
			<a href="#" class="header__icon"><img src="img/svg/android.svg" alt="Android"></a>
			<a href="#" class="header__icon"><img src="img/svg/windows.svg" alt="Windows-phone"></a>
		</div>
	</div>
	<div class="header__hand-container js-header-hand">
		<div class="header__display"></div>
		<div class="header__lighting"></div>
	</div>
</header>