<section class="section comments">
	<div class="container">
		<div class="comment">
			<blockquote class="comment__text js-comment-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla 
				molestie eu commodo nulla dapib us. Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut.”
			</blockquote>
			<cite class="comment__name js-comment-name">Jane Hunt</cite>
		</div>
			<div class="comment__faces">
				<div class="comment__face" data-name="Alex Alex" data-text="To bring up an issue that has already been resolved.">
					<img class="comment__img" alt="face" src="img/faces/img.png">
				</div>
				<div class="comment__face" data-name="Guf Guffito" data-text="Welcome.Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-1.png">
				</div>
				<div class="comment__face" data-name="Linel Loren" data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla 
				molestie eu commodo nulla dapib us. Donec id sollicitudin urna.">
					<img class="comment__img" alt="face" src="img/faces/img-2.png">
				</div>
				<div class="comment__face" data-name="Lara Loft" data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla 
				molestie eu commodo nulla dapib us. Donec id sollicitudin urna.">
					<img class="comment__img" alt="face" src="img/faces/img-3.png">
				</div>
				<div class="comment__face" data-name="Robert Nick" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-4.png">
				</div>
				<div class="comment__face" data-name="Wayne Rooney" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-5.png">
				</div>
				<div class="comment__face" data-name="Bob Marley" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-6.png">
				</div>
				<div class="comment__face" data-name="Lana Lonely" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-7.png">
				</div>
				<div class="comment__face" data-name="Stiven Bober" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-8.png">
				</div>
				<div class="comment__face" data-name="Java Script" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-9.png">
				</div>
				<div class="comment__face" data-name="Victor Sd" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-10.png">
				</div>
				<div class="comment__face" data-name="Yulia Kiwi" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-11.png">
				</div>
				<div class="comment__face" data-name="Tony Rout" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-12.png">
				</div>
				<div class="comment__face" data-name="Hilda	Jordan" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-13.png">
				</div>
				<div class="comment__face" data-name="Dina Rick" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-14.png">
				</div>
				<div class="comment__face" data-name="Booker Fred" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-15.png">
				</div>
				<div class="comment__face" data-name="Dasha Fi" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-16.png">
				</div>
				<div class="comment__face" data-name="Andreo Loren" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-17.png">
				</div>
				<div class="comment__face" data-name="Viktor Lick" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-18.png">
				</div>
				<div class="comment__face" data-name="Genry Taun" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-19.png">
				</div>
				<div class="comment__face" data-name="Emilia Lirik" data-text="Welcome.">
					<img class="comment__img" alt="face" src="img/faces/img-20.png">
				</div>
			</div>
		</div>

		<div class="social">
				<h2 class="social__title">Say Hi & Get in Touch</h2>
				<p class="social__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. </p>
			<div class="social__links">
				<a href="#" class="social__link"><img alt="twitter" src="img/svg/social/twitter.svg"></a>
				<a href="#" class="social__link"><img alt="facebook" src="img/svg/social/f.svg"></a>
				<a href="#" class="social__link"><img alt="paintrest" src="img/svg/social/pinterest.svg"></a>
				<a href="#" class="social__link"><img alt="g+" src="img/svg/social/g+.svg"></a>
				<a href="#" class="social__link"><img alt="in" src="img/svg/social/in.svg"></a>
				<a href="#" class="social__link"><img alt="youtoobe" src="img/svg/social/youtube.svg"></a>
			</div>
		</div>
	</section>