<section class="section subscribe">
	<div class="container container-subscribe">
		<div class="subscribe__wrap">
			<h2 class="subscribe__subtitle">Get Notified Of Any Updates!</h2>
			<p class="subscribe__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.</p>
			<form class="subscribe__form" mathod="post" action="#">
				<input type="text" class="subscribe__inp subscribe__inp--email" placeholder="Email Address" required>
				<button class="subscribe__btn">Notify</button>
			</form>
		</div>
		<div class="subscribe__video">
			<iframe class="subscribe__iframe" src="https://player.vimeo.com/video/141720299?color=ffffff&title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</section>
