<section class="section info">
	<div class="container container-info">
		<div class="info__item">
			<a href="#"><div class="info__icon"><img class="info__icon-img" src="img/svg/cog.svg" alt="Item-1"></div></a>
			<h2 class="info__title">Editable Theme</h2>
			<p class="info__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</p>
		</div>
		<div class="info__item">
			<a href="#"><div class="info__icon"><img class="info__icon-img" src="img/svg/star.svg" alt="Item-2"></div></a>
			<h2 class="info__title">Flat Design</h2>
			<p class="info__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</p>
		</div>
		<div class="info__item">
			<a href="#"><div class="info__icon"><img class="info__icon-img" src="img/svg/earth.svg" alt="Item-3"></div></a>
			<h2 class="info__title">Reach Your Audience</h2>
			<p class="info__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</p>
		</div>
	</div>
</section>