
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        width: 960px;
    }
    .header .container-header {
        padding-left: 115px;
    }
    .header__hand-container {
        width: 465px;
    }
    .comment__face {

        flex-basis: 82px;
    }
}
